:root{
    --main-color:#209bff;
    --black: #000;
    --bg: #ffffff;
    --border:.1rem solid rgba(115, 158, 175, 0.925);
}


*{
font-family: 'Lucida Sans', 'Torus Notched', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}


body{
    background: var(--bg);
}

section{
    padding:2rem 7%;
}

.body{
    width:50%;
}
.image-next-to-text{
    width: 40%;
}

.container{
    vertical-align: middle;
    display: inline-table;
    align-items: flex-start;
    justify-items: center;
    flex-direction: row;
}
.heading{
    text-align: center;
    color:rgb(0, 145, 230);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}




.header{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 6rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:rgb(0, 0, 0);
}

.header .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color:rgb(0, 0, 0);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}



.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}



.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    font-size: 6rem;
    text-transform: uppercase;
    color:rgb(0, 137, 228);
}

.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color:rgb(0, 0, 0);
}


.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
    padding:2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:rgb(209, 242, 255);
}

.about .row .content p{
    font-size: 1.6rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
    line-height: 1.8;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    padding:5rem;
    text-align: center;
    border:var(--border);    
}

.menu .box-container .box img{
    height: 10rem;
}

.menu .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding:1rem 0;
}

.menu .box-container .box .price{
    color: #fff;
    font-size: 2.5rem;
    padding:.5rem 0;
}

.menu .box-container .box .price span{
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover{
    background:#fff;
}

.menu .box-container .box:hover > *{
    color:var(--black);
}

.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.products .box-container .box{
    text-align: center;
    border:var(--border);
    padding: 2rem;
}

.products .box-container .box .icons a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border:var(--border);
    color:#fff;
    margin:.3rem;
}

.products .box-container .box .icons a:hover{
    background:var(--main-color);
}

.products .box-container .box .image{
    padding: 2.5rem 0;
}

.products .box-container .box .image img{
    height: 25rem;
}

.products .box-container .box .content h3{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars{
    padding: 1.5rem;
}

.products .box-container .box .content .stars i{
    font-size: 1.7rem;
    color: var(--main-color);
}

.products .box-container .box .content .price{
    color:#fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span{
    text-decoration: line-through;
    font-weight: lighter;
    font-size: 1.5rem;
}
/* Comment section */
#comments {
    background-color: #c5ffee;
    padding: 20px;
    border-radius: 5px;
  }
  
  #comments h2 {
    text-align: center;
    margin: 0;
  }
  
  #comments form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #comments label {
    margin: 10px 0;
  }
  
  #comments textarea {
    width: 80%;
    height: 100px;
    resize: none;
  }
  
  #comments button[type="submit"] {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: #00BFFF;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  #comments button[type="submit"]:hover {
    background-color: #008080;
  }
  
  #comment-list {
    margin-top: 20px;
  }
  
  #comment-list .comment {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #D3D3D3;
  }
  
  #comment-list .comment h3 {
    margin: 0;
  }
  
  #comment-list .comment p {
    margin: 10px 0;
  }
  
.Avis .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.Avis .box-container .box{
    border:var(--border);
    text-align: center;
    padding:3rem 2rem;
}

.Avis.box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:#ccc;
    padding:2rem 0;
}


.Avis .box-container .box h3{
    padding:1rem 0;
    font-size: 2rem;
    color:rgb(0, 0, 0);
}

.Avis .box-container .box .stars i{
    font-size: 1.5rem;
    color:var(--main-color);
}

.contact .row{
    display: flex;
    background:var(--black);
    flex-wrap: wrap;
    gap:1rem;
}

.contact .row .map{
    flex:1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color:#fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--bg);
    border:var(--border);
}

.contact .row form .inputBox span{
    color:#fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding:2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background:none;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    border:var(--border);    
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow:hidden;
    width: 100%;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box:hover .image img{
    transform: scale(1.2);
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    color:#fff;
}

.blogs .box-container .box .content .title:hover{
    color:var(--main-color);
}

.blogs .box-container .box .content span{
    color:var(--main-color);
    display: block;
    padding-top: 1rem;
    font-size: 2rem;
}

.blogs .box-container .box .content p{
    font-size: 1.6rem;
    line-height: 1.8;
    color:#ccc;
    padding:1rem 0;
}

footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
footer #contact{
    color: rgb(181, 181, 181);
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}












/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}


.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.menu .heading .image{
    flex:1 1 45rem;
}

.menu .heading .imageimg{
    width: 100%;
}
.menu .heading .content{
    flex:1 1 45rem;
    padding:2rem;
}

.menu .heading .content h3{
    font-size: 3rem;
    color:#fff;
}

.menu .heading  .content p{
    font-size: 1.6rem;
    color:rgb(255, 255, 255);
    padding:1rem 0;
    line-height: 1.8;
}

.logo img{
    width: 150px;
    height: 100px;
}

.about .row{
    display: flex;
    align-items: center;
    background:var(--black);
    flex-wrap: wrap;
}

.Questions .row .image{
    flex:1 1 45rem;
}

.Questions .row .image img{
    width: 465px;
  
}
.Questions.row .content{
    flex:1 1 45rem;
    padding:2rem;
    border: #000;
}

.Questions .content h3{
    font-size: 3rem;
    color:#008ecf;
    color:#008ecf;
    
    flex-wrap: wrap;
}

.Questions .row .content p{
    font-size: 1.6rem;
    color:rgb(0, 0, 0);
    padding:1rem 0;
    line-height: 1.8;
    background-color: #ffffff;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    
}


footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 100px;;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
    font-size: medium;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
    font-size: 30%;
}
footer #contact{
    color: rgb(181, 181, 181);
}

footer h3{
color: #fff;
font-size: 90%
}

@media screen and (max-width:680px){
    nav .onglets {
        margin-left: 0px;
        margin-bottom: 20px;
    }
    .main .card {
        margin: 10px;
    }
    .main .content .card .right img{
        height:200px;
        width: 100%;
        margin-top: -0px;
    }
    .main .content .card{
        display: block;
    }
    footer{
        padding: 30px;
    }
}


.home img{
    width: 48%;
   margin-left:  120%;
   margin-right: 130%;
   margin-top: -25%;
   
}
.text{
    text-align: justify;
}

.content img{
    width: 400px;
    height: 350px;
    margin: 50px;
}